@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--cell-size: 100px;

	--color: #81c3fd; /* for hover */
	--color-set: #0275d8; /* when set */
	--l: 10px; /* X line-width */
}

.cell {
    @apply border border-solid border-white flex justify-center items-center relative cursor-pointer w-24 h-24 m-0 p-0 gap-x-0
}

.board {
    grid-template-columns: repeat(3, auto);
    @apply grid justify-center content-center justify-items-center w-96 h-96 m-0 gap-x-0 p-0
}

/* remove border for edges */
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
	border-left: none;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
	border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
	border-bottom: none;
}